@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.container-root {
  min-height: 100vh !important;
  .container-main {
    flex-direction: row;
  }
  .container-content {
    padding: 0 24px 24px;
  }

  .content {
    padding: 240px;
    margin: 0;
    min-height: 280px;
  }
}

.ant-input {
  color: black !important;
  border-color: white !important;
}

.ant-input::placeholder {
  color: #000000ff !important;
  font-size: medium;
  opacity: 1;
  border-color: white !important;
}

.ant-btn {
  background-color: rgb(255, 190, 49) !important;
  color: white !important;
  border-color: white !important;
}
